.category{
    margin: 0 auto;
}
.add_category{
    height: 50px;
    line-height: 50px;
    background: aqua;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}