.user{
    width: 100%;
    text-align: center;
}
.user input{
    width: 300px;
}
.block_name , .block_email , .block_status{
    height: 80px;
    padding: 10px 0;
}
.add{
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: aqua;
    margin: 0 auto;
    cursor: pointer;
    border-radius:8px ;
}
.item{
    width: 100%;
    height: 70px;
    border:1px solid black;
    box-sizing: border-box;
    margin: 2px 0;
}
.item_info{
    float:left;
}
.item_setting{
    float: right;
}
.item_edit,.item_remove{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    cursor: pointer;
}
.item_edit{
    background: yellow;
}
.item_remove{
    background: red;
}
.overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.73);
    z-index: 50;
}
/*update*/
.update {
    top: 10px;
    width: 360px;
    display: none;
    margin-left: -180px;
    left: 50%;
    position: absolute;
    text-align: center;
    background-color: #fff;
    z-index: 100;
}
.update_info{
    width: 250px;
    height: 70px;
    margin: 0 auto;
}
.update_setting{
    height: 50px;
}
.update_save , .update_exit{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin: 5px 10px;
    background: #7C85DD;
    line-height: 40px;
    cursor: pointer;
}
.update_save{
    float:left;
}
.update_exit{
    float:right;
}
.update_info label{
    display: block;
    float: left;
}
.form_add{
    margin: 10px 0;
}