
.content_text{
    overflow-y: hidden;
    height: 100px;
    margin: 12px 20px;
    width: calc(100% - 40px);
    display: inline-table;
    word-wrap: break-word;
}
.block_category, .block_user{
    width: 50%;
    float: left;
}