* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0 auto;
    overflow-x: hidden;
    /*min-height: 50px;*/
    /*max-height: 100%;*/
    /*height: 50px;*/
}

.w {
    width: 100%;
    max-width: 900px;
}

.info {
    position: absolute;
    background: #E7F2AE;
}

input {
    border: 0;
    outline: 0
}

textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999; /* указание этого свойства также удалит обводку в FireFox */
    resize: none;
    box-sizing: border-box;
}

.info_content {
    overflow-y: hidden;
    height: 100px;
    margin: 12px 20px;
    width: calc(100% - 110px);
    display: inline-table;
    word-wrap: break-word;
    border: 0;
}

.info_content_block {
    display: inline-block;
    height: 50px;
    float: left;
    width: calc(100% - 90px);
}

.info_add {
    left: -20px;
    top: 12px;
    height: 50px;
    background: #27BFDD;
    width: 50px;
    position: relative;
    float: right;
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.time_error, .text_error {
    color: red;
    font-size: 11pt;
    margin: 10px 20px;
}

/*.info_add:hover {*/
/*transition: .5s;*/
/*-webkit-transform: scale(0.9, 0.9);*/
/*-ms-transform: scale(0.9, 0.9);*/
/*transform: scale(0.9, 0.9);*/
/*background: #6CA5DD;*/
/*}*/

/*.info_add:active {*/
/*transition: .1s;*/
/*-webkit-transform: scale(0.3, 0.3);*/
/*-ms-transform: scale(0.3, 0.3);*/
/*transform: scale(0.3, 0.3);*/
/*background: #27BF7D;*/
/*}*/

.load {
    display: inline-block;
    height: 100%;
}

.entry {
    position: relative;
    /*height: 50px;*/
    float: left;
}

.entry_text {
    position: relative;
    width: calc(100% - 40px);
    padding: 5px;
    margin: 10px 20px;
    border: 1px solid #9E9699;
    border-radius: 4px;
    word-wrap: break-word;
}

.entry_edit_button {
    top: 0px;
    width: 20px;
    height: 20px;
    background: yellow;
    position: absolute;
    right: 70px;
    float: right;
    cursor: pointer;
}

.entry_del {
    top: 0px;
    width: 20px;
    height: 20px;
    background: red;
    position: absolute;
    right: 35px;
    float: right;
    cursor: pointer;
}

.update {
    display: none;
    margin: 0 auto;
    width: 100%;
    height: calc(100% + 50px);
    background: #C0C0C0;
    position: absolute;
    top: -50px;
    z-index: 1;
}

.update_block {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: #6CA5DD;
}

.update_block textarea {
    margin: 10px;
    width: 280px;
    height: 220px;
}

.update_footer {
    margin: 10px;
}

.save, .exit {
    cursor: pointer;
    margin: 0 5px;
    background: #27BF7D;
    width: 130px;
    height: 30px;
    text-align: center;
    float: left;
    line-height: 30px;
    font-family: cursive;
    border-radius: 8px;
}

.time {
    margin: 10px 20px;
}
.entry_time{
    margin: 5px 20px;
}